@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  --blue: #000000;
  --red: #940A0F;
  background-color: var(--blue);
  font-family: 'Roboto', sans-serif;
  color: white;
}

.content {
  width: 100%;
  height: 100vh;
}

.area {
  margin-top: 50px;
  padding: 25px;
  width: 50%;
  border: 2px solid red;
  border-radius: 5px;
  min-height: 450px;
}

.flexBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 50%;
}

.button {
  background-color: var(--red);
  color: white;
  border: none;
  border-radius: 5px;
  width: 150px;
  padding: 10px;
  margin: 5px;
  box-shadow: 5px 5px 5px black;
}

.field {
  padding: 5px;
  margin: 5px;
  width: 80%;
  height: 35%;
  border: 2px solid white;
  border-radius: 5px;
}

.field:focus {
  border: 3px solid white;
}